---
import Base from '../layouts/Base.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Servizi from '../components/Servizi.astro';
import Lavori from '../components/Lavori.astro';
import Approccio from '../components/Approccio.astro';
import Contatti from '../components/Contatti.astro';
import Footer from '../components/Footer.astro';
---

<Base>
  <Header />
  <main id="main">
    <Hero />
    <Servizi />
    <Lavori />
    <Approccio />
    <Contatti />
  </main>
  <Footer />
</Base>
